<!-- /templates/password.liquid -->

<div class="grid">
  <div class="grid__item large--one-third push--large--one-third text-center">

    <div class="form-vertical">
      {% form 'storefront_password' %}

        <p>{{ 'store_password.lead' | t }}</p>

        {{ form.errors | default_errors }}

        <label for="password" class="hidden-label">{{ 'store_password.form_label' | t }}</label>
        <input type="password" value="" name="password" id="password" class="input-full {% if form.errors contains 'password' %}error{% endif %}" placeholder="{{ 'store_password.form_placeholder' | t }}">

        <div class="text-center">
          <input type="submit" class="btn btn--full" value="{{ 'store_password.form_submit' | t }}">
        </div>

      {% endform %}
    </div>

  </div>
</div>
